/* 
	Add square brackets around the input textboxes, to add a font-based shape to them, 
	and take away the default borders.
	
	The .textInputWrapper is used because before/after psuedo-elements will not display
	on text inputs
*/
.textInputWrapper {
	display: inline-block;
}

.textInputWrapper::before {
	content: "[";
	display: inline-block;
}

.textInputWrapper::after {
	content: "]";
	display: inline-block;
}

.textInputWrapper::before, .textInputWrapper::after {
	font-family: courierPrime;
	font-weight: bold;
	font-size: large;
}

input[type="text"], input[type="text"]:focus {
	border-width: 0;
	outline: none;
	font-family: courierPrime;
}

.inputArea label {
	font-weight: bold;
}


/* 
	Remove the border around text area, and add a left/right to the text area 
	in type. Unfortunately, the left/right are coupled to the text areas rows value, 
	however this can be decoupled with JS in the future
*/
textarea {
	border-width: 0;
	font-family: courierPrime;
	resize: none;
}

textarea:focus {
	outline: none;
}

.textareaWrapper {
	font-weight: bold;
	display: inline-block;
}

.textareaWrapper:before, .textareaWrapper:after {
	content: "+\A\A\A\A\A\A\A\A\A+";
	white-space: pre;
	display: inline-block;
}

.textareaWrapper:after {
	/* Makes the right border look better, as the pipes stay on the outside of any other characters */
	text-align: right;
}



/* 
	Style the checkboxes (and some of the radio button styling to) by hiding them, then using a 
	psuedo-element in it's place for display.
*/
input[type="checkbox"], input[type="radio"] {
	visibility: hidden;
	font-family: courierPrime;
	font-weight: bold;
	cursor: pointer;
}

input[type="radio"] {
	/* Without this, the radio button overlaps the label */
	margin-right: 1.5em;
}

/* 
	The 'x' within the checkbox will be grey when unchecked.
	To make this work (since preceding/proceeding punctuation is 
	included in ::first-letter), the 'x' is the first letter of ::before, 
	and then the display direction is reversed, so it shows last.
*/
input[type="checkbox"]:not(:checked)::first-letter, input[type="radio"]:not(:checked)::first-letter {
	color: #aaa;
}

input[type="checkbox"]:not(:checked):hover::first-letter, input[type="radio"]:not(:checked):hover::first-letter {
	color: #888;
}

input[type="checkbox"]::before {
	content: "x ]";
}

input[type="checkbox"]::after {
	content: "]";
	visibility: visible;
}

input[type="checkbox"]::before, input[type="radio"]::before {
	visibility: visible;
	
	/* Reverse the text */
	direction: rtl;
	unicode-bidi: bidi-override;
	
	/* 
		We need the space character, as any proceeding punctuation (']') would be included in ::first-letter.
		However, we then remove the gap made by that space character, so only the x gets the ::first-letter 
		styling.
	*/
	white-space: pre;
	word-spacing: -0.65em;
}


/* 
	The rest of the radio button styling. See the checkbox styling above, as this works in the same way, 
	and some of that styling is shared with the radio buttons
*/
input[type="radio"]:not(:checked)::before {
	content: "o )";
}

input[type="radio"]:checked::before {
	content: "+ )";
}

input[type="radio"]::after {
	content: ")";
	visibility: visible;
}

.radioButtonSelection h4 {
	margin-bottom: 0.5em;
}


/* 
	Styling the submit button
*/
button[type="submit"] {
	font-family: futuraBook;
	font-weight: bolder;
	font-size: 1em;
	border-width: 0;
	outline: none;
	background-color: unset;
}

button[type="submit"]:hover {
	text-decoration: underline;
	cursor: pointer;
}

button[type="submit"]:active {
	font-weight: normal;
}

button[type="submit"]::before {
	content: "[ ";
}

button[type="submit"]::after {
	content: " ]";
}


/* Some smaller screen corrections */
@media (max-width: 650px) {
	
	.checkboxArea, .radioButtonSelection {
		font-size: 1.5em;
	}
	
	input[type="radio"], input[type="checkbox"] {
		font-size: 1em;
		
		/* These are needed to vertically align the box with the label */
		display: inline-block;
		vertical-align: top;
	}
	
	button[type="submit"] {
		font-size: 1.5em;
	}
}


@media (max-width: 325px) {
	
	/* 
		On Galaxy Fold, the md-developer.uk label was 
		on a new line to the radio button, due to the size 
		of the text. Therefore, make it smaller.
	*/
	.radioButtonSelection {
		font-size: 1.25em;
	}
}