// Set variables
$interactionHoverColor: #888;
$smallScreenWidth: 650px;
$extraSmallScreenWidth: 325px;

// Imports of all the SASS we want to bundle
@import "type";
@import "list";
@import "form";
@import "footer";
@import "position";
@import "animation";