/* Heading */
header {
	min-height: 20vh;
	padding: 30vh 0 50vh 2em ;
}

/* Section elements */
#informationArea {
	margin-bottom: 25vh;
	margin-left: 5vw;
	width: 70vw;
}

section {
	margin-bottom: 10vh;
}

/* Tables */
#tableArea {
	margin-left: 5vw;
	margin-bottom: 10vh;
}

#tableArea table {
	table-layout: fixed;
}

#tableArea th {
	min-width:max-content;
}


/* Forms */
form {
	margin: 5vw;
}

.inputArea {
	margin: 2em 0;
}

.textareaWrapper {
	width: 70vw;
}

textarea {
	width:60vw;
	max-width: 500px;
}


/* Smaller screen adjustments */
@media (max-width: 650px) {
	
	#informationArea {
		margin-right: 5vw;
		width: 85vw;
	}
	
	
	textarea {
		width: 50vw;
	}
	
	.textareaWrapper {
		width: 65vw;
	}
	
	input[type="radio"], .radioButtonSelection label {
		/* Give a bit more space between all the radio buttons, for easier selection */
		margin-top: 0.5em;
		display: inline-block;
	}
	
}