/* Heading */
header {
	min-height: 20vh;
	padding: 30vh 0 50vh 2em ;
}

/* Section elements */
#informationArea {
	margin-bottom: 15vh;
	margin-left: 5vw;
	width: 70vw;
}

section {
	margin-bottom: 10vh;
}

/* Tables */
/* Need to give this a scrollbar in case of overflow */
#tableArea {
	margin-left: 5vw;
	margin-bottom: 10vh;
}

#tableArea table {
	table-layout: fixed;
}

#tableArea th {
	min-width:max-content;
}