table {
	border-collapse: collapse;
}

td, th {
	text-align: left;
	padding: 0.5em;
}

/* Need to add a seperator to the table cells */
th::before {
	content: "[ ";
	display: inline;
}

th::after {
	content: " ]";
	display: inline;
}