table {
	border-collapse: collapse;
	margin: 2em;
}

td, th {
	text-align: left;
	padding: 0.5em;
}

/* Need to add a seperator to the table cells */
th::before {
	content: "[ ";
}

th::after {
	content: " ]";
}