/* Define fonts */
@font-face {
	font-family: futura;
	src: url(fonts/unicode.futurab.ttf);
}

@font-face {
	font-family: futuraHeavy;
	src: url(fonts/Futura_Heavy.ttf);
}

@font-face {
	font-family: futuraBook;
	src: url(fonts/Futura_Book.ttf);
}

@font-face {
	font-family: courierPrime;
	src: url(fonts/Courier_Prime.ttf);
}


/* Add type styling */
body, footer, a {
	font-family: futuraBook;
}

h1 {
	font-family: futura;
}

h2, h3, h4, h5, h6 {
	font-family: futuraHeavy;
}

form h2 {
	text-decoration-line: underline;
}

a {
	color: black;
}

a:hover {
	color: #888;
}