/* Define fonts */
@font-face {
	font-family: futura;
	src: url(../fonts/unicode.futurab.ttf);
}

@font-face {
	font-family: futuraBook;
	src: url(../fonts/Futura_Book.ttf);
}

@font-face {
	font-family: courierPrime;
	src: url(../fonts/Courier_Prime.ttf);
}


/* Add type styling */
body, footer, a {
	font-family: futuraBook;
}

header, h3, h4 {
	font-family: futura;
}

a {
	color: black;
}

a:hover {
	color: #888;
}